body {
	font-family: monospace;
	width: auto;
	font-size: 1em;
}

div.block, hr {
	margin: 1vw 1vw;
}


input {
	border-radius: .8em;
	/*padding: 0.7em 1em;*/
	background: #FFFFFF;
	border: 1px solid rgba(34, 36, 38, 0.15);
	box-shadow: none;
}


.modal {
	display: none;
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100vw; /* Full width */
	height: 100vh; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal > .content {
	background-color: #fefefe;
	margin: 15vh auto;
	border: 1px solid #888;
	width: 80%;
	border-radius: 1em;
}
.modal > .content > .header {
	padding: .5em 1.2em;
	background: #50d2a8;
	border-top-left-radius: 1em;
	border-top-right-radius: 1em;
}
.modal > .content > .footer {
	padding: .5em 1.2em;
	text-align: right;
}
.modal > .content > .header > .close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}
.modal > .content > .header > .close:hover, .modal > .content > .header > .close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

.btn {
	border: none;
	border-radius: 1em;
	padding: .5em;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: .8em;
	margin: auto;
	cursor: pointer;
}

.btn.primary {
	background-color: #4caf50;
	color: #fff;
}
.btn.cancel {
	background-color: #E0E1E2;
	color: rgba(0, 0, 0, 0.6);
}
.btn.danger {
	background-color: #DB2828;
	color: #fff;
}

#settings div.btn {
	background-color: #727290;
	color: white;
	margin: .3em;
}


.hide, .tmpl, .tabs > div.block {
	display: none;
}

.tabs > div.block.def {
	display: block;
}

.center {
	margin: auto;
	width: 50%;
	padding: .8em;
	text-align: center;
}

.nav {
	text-align: center;
}
.nav > .btn {
	border-radius: .5em;
	background-color: #4c7daf;
	color: white;
}

.param > div {
	display: flex;
	width: 90%;
	padding: .5em 0;
}
.param > div > div:nth-child(1) {
	text-align: right;
	width: 45%;
}
.param > div > * {
	padding: .5em .7em;
}

.param > div.time > input {
	width: 12vw;
}

.table {
	text-align: right;
	display: table;
	margin: auto;
}
.table > div {
	display: table-row;
}
.table > div:nth-child(1) {
	display: table-header-group;
	background-color: #4c7daf;
	color: white;
}
.table.def > div:nth-child(1) {
	background-color: #73540d;
	color: white;
	cursor: pointer;
}
.table > div > div {
	display: table-cell;
	padding-top: .8em;
	padding-bottom: .8em;
	padding: 1em;
}

.sch > .table {
	width: 100%;
	background-color: #310e5814;
}

.sch > .table div.en {
	background-color: #87e48a80;
}

canvas {
	margin: .5em 0;
}

div.smoothie-chart-tooltip {
	background: #444;
	padding: 1em;
	margin-top: 20px;
	font-family: consolas;
	color: white;
	font-size: 10px;
	pointer-events: none;
}

